@CHARSET "UTF-8";
*{
	margin:0;padding:0;
}
a{
	text-decoration:none;
}
img{
	border:0px; 
}
ul,li{
	list-style:none;
}
.clearfix:after{  /* css3解决父元素塌陷解决办法	 */
    content:""; display:table; clear:both;	height:0px; 
}